<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Yoonha Byun ― 빨간 머리 소녀</title>
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'collage/collagecss.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'painting/painting.css' %}">

<div id="exp-wrap">
    <div id="explanation">
        <p style="font-size:40px; margin-bottom:3px;">빨간 머리 소녀</p>
        <p>그녀는 빨간 머리를 감추기 위해 검은 옷으로 자신을 가렸지만, 자신 안에 자라나는 분홍빛 생명을 가릴 수는 없었다. 밤에 피어난 꽃처럼 붉은 풀이 가득 차오를 때, 그녀는 그녀 안에 피어난 달빛의 따듯함을 느꼈다.</p>
    </div>

    <div id="collage">
        <img src="{%static 'painting/painting10.jpg' %}" width="84%">
    </div>

    <div id="left-right-button">
        <div id="left">
            <a href="{% url 'main:painting9' %}">&lt;</a>
        </div>
        <div id="right">
            <a href="{% url 'main:painting' %}">&gt;</a>
        </div>
    </div>


</div>

<div id="content-whole">
  <div id="content-left">
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:painting1' %}"><img src="{% static 'painting/painting1.jpg' %}" width="100%"  alt="painting1"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:painting1' %}">
          <h2 style="font-size:44px;font-weight:300;width:300px;">예술가의 발</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:painting4' %}"><img src="{% static 'painting/painting4.jpg' %}" width="100%"  alt="painting4"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:painting4' %}">
          <h2 style="font-size:44px;font-weight:300; width:300px;">검은 비</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:painting7' %}"><img src="{% static 'painting/painting7.jpg' %}" width="100%"  alt="painting7"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:painting7' %}">
          <h2 style="font-size:44px;font-weight:300;">신부</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
  </div>
  <div id="content-center">
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:painting2' %}"><img src="{% static 'painting/painting2-1.jpg' %}" width="100%"  alt="painting2"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:painting2' %}">
          <h2 style="font-size:44px;font-weight:300;width:300px;">푸른 소녀</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:painting5' %}"><img src="{% static 'painting/painting5.jpg' %}" width="100%"  alt="painting5"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:painting5' %}">
          <h2 style="font-size:44px;font-weight:300; width:300px;">결합 1</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:painting8' %}"><img src="{% static 'painting/painting8.jpg' %}" width="100%"  alt="painting8"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:painting8' %}">
          <h2 style="font-size:44px;font-weight:300;">작은 씨앗</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:painting10' %}"><img src="{% static 'painting/painting10.jpg' %}" width="100%"  alt="painting10"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:painting10' %}">
          <h2 style="font-size:44px;font-weight:300;width:300px;">빨간 머리 소녀</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
  </div>
  <div id="content-right">
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:painting3' %}"><img src="{% static 'painting/painting3.jpg' %}" width="100%"  alt="painting3"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:painting3' %}">
          <h2 style="font-size:44px;font-weight:300;width:300px;">녹색 소녀</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:painting6' %}"><img src="{% static 'painting/painting6.jpg' %}" width="100%"  alt="painting6"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:painting6' %}">
          <h2 style="font-size:44px;font-weight:300;">결합 2</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:painting9' %}"><img src="{% static 'painting/painting9.jpg' %}" width="100%"  alt="painting9"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:painting9' %}">
          <h2 style="font-size:44px;font-weight:300;">동화</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}