body {
margin:0;
padding:0;
margin-top:100px;
}


body {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

#content-whole {
animation: fadein 1s;
-moz-animation: fadein 1s; /* Firefox */
-webkit-animation: fadein 1s; /* Safari and Chrome */
-o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

a {
text-decoration:none;
}

#content-whole {
width:100%;
margin-right:0px;
overflow:hidden;
}

#content-whole #content-left {
float:left;
width:33.3%;
}

#content-whole #content-center {
float:left;
width:33.3%;
}

#content-whole #content-right {
float:left;
width:33.4%;
}

#content-whole #content-left .content-item {
position:relative;
width:100%;
margin-bottom:-7px;
}
#content-whole #content-left .content-item .text {
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
font-size:30px;
opacity:0%;
transition-duration:0.3s;
}
#content-whole #content-left .content-item .image {transition-duration:0.3s;}
#content-whole #content-left .content-item:hover .image {
filter:brightness(50%);
transition-duration:0.3s;
}
#content-whole #content-left .content-item .image:hover ~ .text {
opacity:100%;
transition-duration:0.3s;
}
#content-whole #content-left .content-item .text:hover {
opacity:100%;
transition-duration:0.3s;
}
#content-whole #content-left .content-item .text a {color:white;}

#content-whole #content-center .content-item {
position:relative;
width:100%;
margin-bottom:-7px;
}
#content-whole #content-center .content-item .text {
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
font-size:30px;
opacity:0%;
transition-duration:0.3s;
}
#content-whole #content-center .content-item .image {transition-duration:0.3s;}
#content-whole #content-center .content-item:hover .image {
filter:brightness(50%);
transition-duration:0.3s;
}
#content-whole #content-center .content-item .image:hover ~ .text {
opacity:100%;
transition-duration:0.3s;
}
#content-whole #content-center .content-item .text:hover {
opacity:100%;
transition-duration:0.3s;
}
#content-whole #content-center .content-item .text a {color:white;}

#content-whole #content-right .content-item {
position:relative;
width:100%;
margin-bottom:-7px;
}
#content-whole #content-right .content-item .text {
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
font-size:30px;
opacity:0%;
transition-duration:0.3s;
}
#content-whole #content-right .content-item .image {transition-duration:0.3s;}
#content-whole #content-right .content-item:hover .image {
filter:brightness(50%);
transition-duration:0.3s;
}
#content-whole #content-right .content-item .image:hover ~ .text {
opacity:100%;
transition-duration:0.3s;
}
#content-whole #content-right .content-item .text:hover {
opacity:100%;
transition-duration:0.3s;
}
#content-whole #content-right .content-item .text a {color:white;}

h2, h3 {
line-height:1.8em;
text-align:center;
margin:0;
padding:0;
}


#header #menu .menu-item.PAINTING a {
color:black;
border-bottom:1px solid black;
}