<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Yoonha Byun ― 마음의 크기</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'collage/collagecss.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'collage/collage.css' %}">
<div id="exp-wrap">
    <div id="explanation">
        <p style="font-size:40px; margin-bottom:3px;">마음의 크기</p>
        <p style='width:100%;line-height:1.6em;'>어느새 나도 모르게 마음이 산처럼 부풀어 올랐다. 그 마음속에는 길이 있고 나무가 있고 거대한 호수와 호수가 비는 하늘이 들어 있었다. 다채로운 마음의 빛깔들이 산을 수놓고 머리카락까지 같은 빛깔로 물들게 만들었다. 불안, 걱정, 수줍음, 기쁨 같은 다양한 감정들이 쌓이고 쌓여 산처럼 커진 순간, 나는 그 마음을 껴안았다. 온 우주가 나를 향해 멈춰있는 듯 세상의 중심이라고 속삭였다. 나는 분홍빛 꿈처럼 달콤한 세상에서 따듯한 잠에 빠졌다.</p>
        <p>54.5 × 79cm, Acrylic on paper</p>
        <p>©Yoonha Byun 2018</p>
    </div>

    <div id="collage">
        <img src="{%static 'collage/collage3.jpg' %}" width="84%">
    </div>

    <div id="left-right-button">
        <div id="left">
            <a href="{% url 'main:collage2' %}">&lt;</a>
        </div>
        <div id="right">
            <a href="{% url 'main:collage4' %}">&gt;</a>
        </div>
    </div>


</div>

<div id="content-whole">
  <div id="content-left">
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:collage1' %}"><img src="{% static 'collage/collage1.jpg' %}" width="100%"  alt="collage1"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:collage1' %}">
          <h2 style="font-size:44px;font-weight:300;">증기</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:collage4' %}"><img src="{% static 'collage/collage4.jpg' %}" width="100%"  alt="collage4"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:collage4' %}">
          <h2 style="font-size:44px;font-weight:300; width:300px;">눈 내리는 봄</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:collage7' %}"><img src="{% static 'collage/collage7.jpg' %}" width="100%"  alt="collage7"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:collage7' %}">
          <h2 style="font-size:44px;font-weight:300;">새벽녘</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:collage10' %}"><img src="{% static 'collage/collage10.jpg' %}" width="100%"  alt="collage10"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:collage10' %}">
          <h2 style="font-size:44px;font-weight:300;width:300px;">우주를 닦다</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
  </div>
  <div id="content-center">
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:collage2' %}"><img src="{% static 'collage/collage2.jpg' %}" width="100%"  alt="collage2"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:collage2' %}">
          <h2 style="font-size:44px;font-weight:300;width:300px;">쏟아지는 빛</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:collage5' %}"><img src="{% static 'collage/collage5.jpg' %}" width="100%"  alt="collage5"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:collage5' %}">
          <h2 style="font-size:44px;font-weight:300; width:300px;">피어나는 마음</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:collage8' %}"><img src="{% static 'collage/collage8.jpg' %}" width="100%"  alt="collage8"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:collage8' %}">
          <h2 style="font-size:44px;font-weight:300;">연인</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:collage11' %}"><img src="{% static 'collage/collage11.jpg' %}" width="100%"  alt="collage11"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:collage11' %}">
          <h2 style="font-size:44px;font-weight:300;width:300px;">Flower Shop</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
  </div>
  <div id="content-right">
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:collage3' %}"><img src="{% static 'collage/collage3.jpg' %}" width="100%"  alt="collage3"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:collage3' %}">
          <h2 style="font-size:44px;font-weight:300;width:300px;">마음의 크기</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:collage6' %}"><img src="{% static 'collage/collage6.jpg' %}" width="100%"  alt="collage6"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:collage6' %}">
          <h2 style="font-size:44px;font-weight:300;">마음의 달</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:collage9' %}"><img src="{% static 'collage/collage9.jpg' %}" width="100%"  alt="collage9"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:collage9' %}">
          <h2 style="font-size:44px;font-weight:300;">폭포</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:collage12' %}"><img src="{% static 'collage/collage12.jpg' %}" width="100%"  alt="collage12"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:collage12' %}">
          <h2 style="font-size:44px;font-weight:300;width:300px;">Heavenly Girl</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}