{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Digital ― Yoonha Byun</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'digital/digital.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'collage/collagecss.css' %}">
<body>

<div id="content-whole">
  <div id="content-left">
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:digital1' %}"><img src="{% static 'digital/digital1.jpeg' %}" width="100%"  alt="digital1"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:digital1' %}">
          <h2 style="font-size:44px;font-weight:300;">Robot</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
  </div>
</div>

</body>
{% endblock %}