<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Yoonha Byun ― Robot</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'collage/collagecss.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'digital/digital.css' %}">

<div id="exp-wrap">
    <div id="explanation">
        <p style="font-size:40px; margin-bottom:3px;">Robot</p>
    </div>

    <div id="collage">
        <img src="{%static 'digital/digital1.jpeg' %}" width="84%">
    </div>

    <div id="left-right-button">
        <div id="left">
            <a href="#">&lt;</a>
        </div>
        <div id="right">
            <a href="{% url 'main:digital' %}">&gt;</a>
        </div>
    </div>


</div>

<div id="content-whole">
  <div id="content-left">
    <div class="content-item">
      <div class="image">
        <a href="{% url 'main:digital1' %}"><img src="{% static 'digital/digital1.jpeg' %}" width="100%"  alt="digital1"></a>
      </div>
      <div class="text">
        <a href="{% url 'main:digital1' %}">
          <h2 style="font-size:44px;font-weight:300;">Robot</h2>
          <h3 style="font-size:16px;font-weight:300;">&mdash; view &mdash;</h3>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}