{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'common/404.css' %}">
{% endblock %}

{% block content %}

<div id="wrapper">
<p>
We couldn't find the page you were looking for. This is either because:
</p>
<ul>
    <li>
There is an error in the URL entered into your web browser. Please check the URL and try again.
    </li>
    <li>
The page you are looking for has been moved or deleted.
    </li>
</ul>
    <br>
You can return to our homepage by clicking here, or you can try searching for the content you are seeking by clicking here.
</div>
{% endblock %}