{% load static %}

<div id="header">
  <div id="logo">
    <a href="{%url 'main:home'%}">YOONHA BYUN</a>
  </div>
  <div id="menu">
    <div class="menu-item PAPERCUTS"><a href="{%url 'main:home'%}">PAPERCUTS</a></div>
    <div class="menu-item COLLAGE"><a href="{%url 'main:collage'%}">COLLAGE</a></div>
    <div class="menu-item PAINTING"><a href="{%url 'main:painting'%}">PAINTING</a></div>
    <div class="menu-item PASTEL"><a href="{%url 'main:pastel'%}">PASTEL</a></div>
    <div class="menu-item DIGITAL"><a href="{%url 'main:digital'%}">DIGITAL</a></div>
    <div class="menu-item ARTIST-NOTE"><a href="{%url 'main:artist_note'%}">ARTIST NOTE</a></div>
    <div class="menu-item ABOUT"><a href="{%url 'main:about'%}">ABOUT</a></div>
  </div>
</div>

<div id="mheader">
  <div class="mmenu">
    <div class="mmenu-click"><button>menu</button></div>
  </div>
  <div id="mlogo">
    <a href="{%url 'main:home'%}">YOONHA BYUN</a>
  </div>
  <!--
  <div id="mmenu">
    <div class="mmenu-item mPAPERCUTS"><a href="{%url 'main:home'%}">PAPERCUTS</a></div>
    <div class="mmenu-item mCOLLAGE"><a href="{%url 'main:collage'%}">COLLAGE</a></div>
    <div class="mmenu-item mPAINTING"><a href="{%url 'main:painting'%}">PAINTING</a></div>
    <div class="mmenu-item mPASTEL"><a href="{%url 'main:pastel'%}">PASTEL</a></div>
    <div class="mmenu-item mDIGITAL"><a href="{%url 'main:digital'%}">DIGITAL</a></div>
    <div class="mmenu-item mARTIST-NOTE"><a href="{%url 'main:artist_note'%}">ARTIST NOTE</a></div>
    <div class="mmenu-item mABOUT"><a href="{%url 'main:about'%}">ABOUT</a></div>
  </div>
  -->
</div>